<div class="sidebar-menu sidebar-right col-sm-2">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="icon-mail2"></span>未读电子纸条</h3>
        </div>
        <div class="panel-body">
            尚无资料
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="icon-file-text2"></span>线上评量信息</h3>
        </div>
        <div class="panel-body">
            尚无资料
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="icon-pen"></span>进行中的作业</h3>
        </div>
        <div class="panel-body">
            尚无资料
        </div>
    </div>
</div>